<footer class="site-footer">
  <div class="container">
    {{{block 'footer'}}}
    <aside class="site-widget">
      <section class="site-widget-follow">
        <h4>{{t 'Follow me'}}</h4>
        {{#if @labs.subscribers}}
        <p>{{t 'Get all the latest & greatest posts delivered straight to your inbox.'}}</p>
        <form class="input-group" action="/subscribe/" method="post">
          <input class="form-control" type="email" name="email" placeholder="{{t 'Input your email'}}" autocomplete="off" aria-label="{{t 'Input your email'}}" aria-describedby="btn_send" />
          <input type="hidden" name="confirm" />
          <input type="hidden" name="location" />
          <input type="hidden" name="referrer" />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" id="btn_send" title="{{t 'Subscribe'}}" aria-label="{{t 'Subscribe'}}">{{> svg/icon icon='send'}}</button>
          </div>
        </form>
        {{/if}}
        {{!-- TODO: Replace with your social links --}}
        <ul>
          <li><a class="btn btn-outline-secondary btn-sm" href="{{twitter_url}}" title="{{t 'Twitter'}}" target="_blank" rel="noopener">{{> svg/brand icon='twitter'}}</a></li>
          <li><a class="btn btn-outline-secondary btn-sm" href="{{facebook_url}}" title="{{t 'Facebook'}}" target="_blank" rel="noopener">{{> svg/brand icon='facebook'}}</a></li>
          <li><a class="btn btn-outline-secondary btn-sm" href="{{facebook_url}}" title="{{t 'WeChat'}}" target="_blank" rel="noopener">{{> svg/brand icon='weixin'}}</a></li>
          <li><a class="btn btn-outline-secondary btn-sm" href="https://github.com/zce" title="{{t 'GitHub'}}" target="_blank" rel="noopener">{{> svg/brand icon='github'}}</a></li>
          <li><a class="btn btn-outline-secondary btn-sm" href="https://www.youtube.com/channel/UCFUwWB0v2qYqLaB95z1nv9Q" title="{{t 'YouTube'}}" target="_blank" rel="noopener">{{> svg/brand icon='youtube'}}</a></li>
          <li><a class="btn btn-outline-secondary btn-sm" href="https://www.linkedin.com/in/zceme" title="{{t 'LinkedIn'}}" target="_blank" rel="noopener">{{> svg/brand icon='linkedin'}}</a></li>
          <li><a class="btn btn-outline-secondary btn-sm" href="https://slack.zce.me" title="{{t 'Slack'}}" target="_blank" rel="noopener">{{> svg/brand icon='slack'}}</a></li>
          <li><a class="btn btn-outline-secondary btn-sm" href="{{facebook_url}}" title="{{t 'QQ'}}" target="_blank" rel="noopener">{{> svg/brand icon='qq'}}</a></li>
          <li><a class="btn btn-outline-secondary btn-sm" href="https://feedly.com/i/subscription/feed/{{@blog.url}}/rss/" title="{{t 'RSS'}}" target="_blank" rel="noopener">{{> svg/icon icon='rss'}}</a></li>
        </ul>
      </section>
      <section class="site-widget-tags">
        <h4>{{t 'Tags'}}</h4>
        {{#get 'tags' limit='all' include='count.posts' order='count.posts desc'}}
        <ul>
          {{#foreach tags}}
          <li><a href="{{url}}">{{name}}</a></li>
          {{/foreach}}
        </ul>
        {{/get}}
      </section>
      <section class="site-widget-links">
        <h4>{{t 'Links'}}</h4>
        {{!-- TODO: Custom footer links --}}
        <ul>
          <li><a href="/story/">{{> svg/icon icon='link' size=13}} {{t 'Story'}}</a></li>
          <li><a href="/about/">{{> svg/icon icon='link' size=13}} {{t 'About'}}</a></li>
          <li><a href="/contact/">{{> svg/icon icon='link' size=13}} {{t 'Contact'}}</a></li>
          <li><a href="/archive/">{{> svg/icon icon='link' size=13}} {{t 'Archive'}}</a></li>
          <li><a href="/privacy-policy/">{{> svg/icon icon='link' size=13}} {{t 'Privacy'}}</a></li>
          <li><a href="/terms-of-service/">{{> svg/icon icon='link' size=13}} {{t 'Terms'}}</a></li>
        </ul>
      </section>
      <section class="site-widget-subscription">
        <h4>{{t 'Subscription'}}</h4>
        {{!-- TODO: Replace with your QR Code --}}
        <img src="https://s.uieee.com/qrcode/wedn.jpg" alt="WEDN" />
      </section>
    </aside>
    <div class="site-info">
      {{!-- Proudly powered by Ghost / Proudly published with Ghost --}}
      <span>{{{t '&copy; {year} <a href=\'{url}\'>{title}</a>. All Rights Reserved.' year=(date format='YYYY') url=@blog.url title=@blog.title}}}</span>
      <ul>
        <li><a href="/privacy-policy/">{{t 'Privacy Policy'}}</a></li>
        <li><a href="/terms-of-service/">{{t 'Terms of Service'}}</a></li>
      </ul>
      <span><a href="https://github.com/zce/creative">&lt;/&gt;</a> with <i class="heart">&hearts;</i> by <a href="https://zce.me">zce</a></span>
    </div>
  </div>
</footer>