{{!< default}}

{{!-- TODO: Try inline partials https://handlebarsjs.com/partials.html#inline-partials --}}

{{#contentFor 'header'}}
<div class="site-heading container">
  <h1 class="site-title">{{@blog.title}}</h1>
  <p class="site-description">{{@blog.description}}</p>
</div>
{{> site-cover}}
{{/contentFor}}

{{!-- Primary featured posts --}}
{{#get 'posts' filter='featured:true' limit=1 as |featured|}}
{{#featured}}
<section class="site-section">
  <div class="container">
    <article class="post-primary" role="main">
      <figure class="post-primary-figure">
        <a href="{{url}}"><img src="{{feature_image}}" alt="{{title}}" /></a>
      </figure>
      <div class="post-primary-body">
        <h2 class="post-primary-title">{{title}}</h2>
        <div class="post-primary-content">{{content}}</div>
        <a class="btn btn-outline-secondary" href="{{url}}">{{t 'Continue reading'}} <span aria-hidden="true">&rarr;</span></a>
      </div>
    </article>
  </div>
</section>
{{/featured}}
{{/get}}

{{!-- Default posts list --}}
<section class="site-section">
  <div class="container">
    <header>
      <h2>{{t 'Latest Posts'}}</h2>
      <p>{{t 'Keep the dots in your life.'}}</p>
    </header>
    <div class="post-feed">
      {{#foreach posts}}
      {{> post-card characters=40}}
      {{/foreach}}
    </div>
    <footer>
      <a class="btn btn-outline-secondary" href="{{page_url pagination.next}}">{{t 'Find more'}} <span aria-hidden="true">&rarr;</span></a>
    </footer>
  </div>
</section>

{{!-- Secondary featured posts --}}
{{#get 'posts' filter='featured:true' limit=1 page=2 as |featured|}}
{{#featured}}
<section class="site-section">
  <div class="container">
    <article class="post-primary">
      <figure class="post-primary-figure">
        <a href="{{url}}"><img src="{{feature_image}}" alt="{{title}}" /></a>
      </figure>
      <div class="post-primary-body">
        <h2 class="post-primary-title">{{title}}</h2>
        <div class="post-primary-content">{{content}}</div>
        <a class="btn btn-outline-secondary" href="{{url}}">{{t 'Continue reading'}} <span aria-hidden="true">&rarr;</span></a>
      </div>
    </article>
  </div>
</section>
{{/featured}}
{{/get}}

{{!-- TODO: Replace `tutorial` with your secondary tag slug --}}
{{#get 'posts' filter='primary_tag:tutorial' include='tags,authors' limit=6}}
{{#if posts}}
<section class="site-section">
  <div class="container">
    {{#posts.[0].primary_tag}}
    <header>
      <h2>{{name}}</h2>
      <p>{{description}}</p>
    </header>
    {{/posts.[0].primary_tag}}
    <div class="post-feed">
      {{#foreach posts}}
      {{> post-card characters=40}}
      {{/foreach}}
    </div>
    <footer>
      {{#posts.[0].primary_tag}}
      <a class="btn btn-outline-secondary" href="{{url}}">{{t 'Find more'}} <span aria-hidden="true">&rarr;</span></a>
      {{/posts.[0].primary_tag}}
    </footer>
  </div>
</section>
{{/if}}
{{/get}}

{{#get 'posts' slug='about' fields='title,html' as |about|}}
{{#about}}
<section class="site-section">
  <div class="container">
    <div class="post-secondary">
      <h2>{{t title}}</h2>
      {{content}}
    </div>
  </div>
</section>
{{/about}}
{{/get}}