{{!< default}}

{{#contentFor 'title'}}{{meta_title}} - {{@blog.title}}{{/contentFor}}

{{#contentFor 'special_class'}} no-cover{{/contentFor}}

{{#post}}
<article class="{{post_class}} container" role="main">
  <header class="post-header">
    <h1 class="post-title">{{title}}</h1>
  </header>

  {{#if feature_image}}
  <figure class="post-figure">
    <img src="{{feature_image}}" alt="{{title}}" />
    <figcaption>{{title}}</figcaption>
  </figure>
  {{/if}}

  <section class="post-content">
    <div class="icons">
      {{> svg/brand icon='alipay' size=32}}
      {{> svg/brand icon='bilibili' size=32}}
      {{> svg/brand icon='bitcoin' size=32}}
      {{> svg/brand icon='btc' size=32}}
      {{> svg/brand icon='codepen' size=32}}
      {{> svg/brand icon='facebook' size=32}}
      {{> svg/brand icon='facebook-f' size=32}}
      {{> svg/brand icon='facebook-messenger' size=32}}
      {{> svg/brand icon='facebook-square' size=32}}
      {{> svg/brand icon='free-code-camp' size=32}}
      {{> svg/brand icon='get-pocket' size=32}}
      {{> svg/brand icon='github' size=32}}
      {{> svg/brand icon='github-alt' size=32}}
      {{> svg/brand icon='github-square' size=32}}
      {{> svg/brand icon='gitlab' size=32}}
      {{> svg/brand icon='google' size=32}}
      {{> svg/brand icon='google-drive' size=32}}
      {{> svg/brand icon='google-play' size=32}}
      {{> svg/brand icon='google-plus' size=32}}
      {{> svg/brand icon='google-plus-g' size=32}}
      {{> svg/brand icon='google-plus-square' size=32}}
      {{> svg/brand icon='google-wallet' size=32}}
      {{> svg/brand icon='instagram' size=32}}
      {{> svg/brand icon='jsfiddle' size=32}}
      {{> svg/brand icon='linkedin' size=32}}
      {{> svg/brand icon='linkedin-in' size=32}}
      {{> svg/brand icon='medium' size=32}}
      {{> svg/brand icon='medium-m' size=32}}
      {{> svg/brand icon='npm' size=32}}
      {{> svg/brand icon='pinterest' size=32}}
      {{> svg/brand icon='pinterest-p' size=32}}
      {{> svg/brand icon='pinterest-square' size=32}}
      {{> svg/brand icon='qq' size=32}}
      {{> svg/brand icon='qzone' size=32}}
      {{> svg/brand icon='readme' size=32}}
      {{> svg/brand icon='renren' size=32}}
      {{> svg/brand icon='skype' size=32}}
      {{> svg/brand icon='slack' size=32}}
      {{> svg/brand icon='slack-hash' size=32}}
      {{> svg/brand icon='stack-overflow' size=32}}
      {{> svg/brand icon='steam' size=32}}
      {{> svg/brand icon='steam-square' size=32}}
      {{> svg/brand icon='steam-symbol' size=32}}
      {{> svg/brand icon='tencent-weibo' size=32}}
      {{> svg/brand icon='tumblr' size=32}}
      {{> svg/brand icon='tumblr-square' size=32}}
      {{> svg/brand icon='twitter' size=32}}
      {{> svg/brand icon='twitter-square' size=32}}
      {{> svg/brand icon='vimeo' size=32}}
      {{> svg/brand icon='vimeo-square' size=32}}
      {{> svg/brand icon='vimeo-v' size=32}}
      {{> svg/brand icon='weibo' size=32}}
      {{> svg/brand icon='weixin' size=32}}
      {{> svg/brand icon='whatsapp' size=32}}
      {{> svg/brand icon='whatsapp-square' size=32}}
      {{> svg/brand icon='wordpress' size=32}}
      {{> svg/brand icon='wordpress-simple' size=32}}
      {{> svg/brand icon='xbox' size=32}}
      {{> svg/brand icon='youku' size=32}}
      {{> svg/brand icon='youku-icon' size=32}}
      {{> svg/brand icon='youtube' size=32}}
      {{> svg/brand icon='youtube-square' size=32}}
      {{> svg/brand icon='zhihu' size=32}}
    </div>
  </section>
</article>
{{/post}}