{{!< default}}

{{#contentFor 'title'}}{{meta_title}} - {{@blog.title}}{{/contentFor}}

{{#post}}
{{#contentFor 'header'}}
<div class="site-heading container">
  <h1 class="site-title">{{title}}</h1>
</div>
{{> site-cover}}
{{/contentFor}}

<div class="container">
  <div class="post-feed">
    {{#get 'tags' limit='all' include='count.posts' order='count.posts desc'}}
    {{#foreach tags}}
    <section class="tag-card"{{#if feature_image}} style="background-image: url({{feature_image}})"{{/if}}>
      <h3 class="tag-card-title"><a href="{{url}}">{{name}}</a></h3>
      {{> svg/icon icon='activity' class='tag-card-divider' size=30 stroke=1}}
      <span class="tag-card-subtitle">{{plural count.posts empty=(t 'No posts') singular=(t '% post') plural=(t '% posts')}}</span>
    </section>
    {{/foreach}}
    {{/get}}
  </div>
</div>
{{/post}}