{{!< default}}

{{#contentFor 'title'}}{{t 'Subscribe'}} - {{@blog.title}}{{/contentFor}}

{{#contentFor 'special_class'}}subscribe-template no-cover{{/contentFor}}

{{#contentFor 'header'}}
<div class="site-heading container">
  {{#if success}}
  <h1 class="site-title">{{t 'Subscribed!'}}</h1>
  {{else}}
  <h1 class="site-title">{{t 'Subscribe to {title}' title=@blog.title}}</h1>
  {{/if}}
</div>
{{/contentFor}}

<div class="subscribe">
  {{#if success}}
  <p>{{{t 'You\'ve successfully subscribed to <em>{title}</em> with the email address <em>{email}</em>.' title=@blog.title email=email}}}</p>
  {{else}}
  {{#error}}<p class="error-message">{{t message}}</p>{{/error}}
  <p>{{t 'Get the latest posts delivered right to your inbox.'}}</p>
  <form method="post">
    <input type="hidden" name="confirm" />
    <input type="hidden" name="location" />
    <input type="hidden" name="referrer" />
    <input id="subscribe_input" class="form-control" type="email" name="email" placeholder="{{t 'Input your email'}}" autocomplete="off" aria-label="{{t 'Input your email'}}" aria-describedby="btn_subscribe" />
    <button class="btn btn-primary" id="btn_subscribe">{{t 'Subscribe'}}</button>
  </form>
  {{/if}}
</div>